<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Main</title>
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'dashboard:main' %}">Fast Mail</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">

                    <div class="navbar-nav col-md-9">
                        <a class="nav-link" href="#">inbox</a>
                        <a class="nav-link" href="#">Pricing</a>
                    </div>
                    <div class="navbar-nav col-md-3" style="text-align: right">
                        {% if request.user.is_authenticated %}
                            <a href="" style="text-decoration: none; color: black">Wellcome "<span
                                    style="color: white">{{ request.user.username }}</span>"</a>
                            <div class="navbar-nav " style="margin-left: 15px">
                                <button type="button" class="badge bg-danger"><a href="{% url 'dashboard:logout' %}"
                                                                                 style="color: white; text-decoration: none;">Logout</a>
                                </button>
                            </div>
                        {% else %}
                            <div class="navbar-nav " style="margin-left: 15px">
                                <button type="button" class="btn btn-danger"><a href="{% url 'dashboard:login' %}"
                                                                                style="height: 15px; color: white; text-decoration: none;">Login</a>
                                </button>
                            </div>
                            <div class="navbar-nav " style="margin-left: 15px">
                                <button type="button" class="btn btn-danger"><a href="{% url 'dashboard:register' %}"
                                                                                style="height: 15px; color: white; text-decoration: none;">register</a>
                                </button>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </nav>
    </div>

</header>
{% if request.user.is_authenticated %}
    <div class="container "
         style="text-align: center; margin: 10% auto; background-color: #0DCAF0; width: 30%; padding: 15px; border-radius: 20px;">
        <h3>FastMail</h3>
        <p>You can easily forward your emails to your friends</p>
        <div class="containe row" style="width: 100%;">
            <button class="btn btn-success col-xs-4 col-md-3" style="margin-left: 45px; margin-right: 10px;"><a href=""
                                                                                                                style="text-decoration: none; color: white;">Dashboard</a>
            </button>
            <button class="btn btn-success col-xs-4 col-md-3" style="margin: 0 10px;"><a href=""
                                                                                         style="text-decoration: none; color: white;">Inbox</a>
            </button>
            <button class="btn btn-success col-xs-4 col-md-3" style="margin: 0 10px;"><a href=""
                                                                                         style="text-decoration: none; color: white;">Send
                Mail</a>
            </button>
        </div>
    </div>
{% else %}
    <div class="container"
         style="text-align: center; margin: 10% auto; background-color: #0DCAF0; width: 30%; padding: 15px; border-radius: 20px;">
        <h3>FastMail</h3>
        <p>You can easily forward your emails to your friends</p>
        <p>At first you must be<span style="font-weight: bold; color: red"> login </span>in this site</p>
        <div class="container button-form">
            <button class="btn btn-danger"><a href="{% url 'dashboard:login' %}"
                                              style="text-decoration: none; color: white;">Login</a>
            </button>
        </div>
    </div>
{% endif %}



<!--inbox-->
<div class="container" style="width: 75%;">
    <h2>Inbox</h2><br>
    {% if mails %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Data/Time</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
            <tr>
                <th scope="row">{{ mail.id }}</th>
                <td>{{ mail.author }}</td>
                <td>{{ mail.title }}</td>
                <td>{{ mail.created }}</td>
                {% if mail.is_read  %}
                 <td><span style="color: blue">Email has been read</span></td>
                    {% else %}
                     <td><span style="color: red">Email has not been read</span></td>
                {% endif %}
                <td><a href="/detail/{{ mail.id }}">See</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

</div>


</body>
</html>
